<div class="container">
    <div class="card-form">
        <form action="login" class="form">
            <input type="email" name="email" id="email" placeholder="Ingrese usuario">
            <input type="password" name="password" id="password" placeholder="Password">
            <button>Ingreesar</button>
        </form>
        <div class="footer-login">
            <label for="">Desarrollado por Bryam Parra</label>
            <label for="year">{{year}}</label>
        </div>
    </div>
</div>

